
.navbar {
    width: 100%;
    height: 100px;
    padding: 25px;
 box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.495);
 background-color: white;
 position: sticky;
 top: 0;
 z-index: 1000;
 
 box-sizing: border-box;
}
.menu-list{
    display: flex;
    list-style: none;
    position: relative;
    left: 50px;
    bottom: 25px;
   
}
.list-items a{
  text-decoration: none;
  margin: 80px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.search{
  
   
     width: 250px;
    padding: 15px;
}

   

.btn {
    background-color: rgb(157, 225, 90);
    color: white;
    border-radius: 10%;
     width: 100px;
    padding: 15px;
}
.btn:hover {
    background-color: rgb(211, 12, 12);
}
.list-items a:hover {
   background-color: red;
   color: white;
   border-radius: 10%;
   padding: 10px;
}
.banner {
    width: 100%;
    height: 700px;
    background-image: url(asset/slide-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero{
    margin-top: 0;
    position: relative;
    top: 200px;
    left: 20px;
}
.shop{
    background-color: rgb(1, 1, 38);
    color: white;
    padding: 10px;
    position: relative;
    top: 200px;
    left: 60px;
    border-radius: 5%;
    width: 200px;
}
.shop:hover{
    background-color: rgb(198, 9, 9);
}
.category {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 10px;
}
.card{
    width: 400px;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;

} 
.items{
    width: 200px;
    height: 300px;
}
.card h3{
   color: rgba(0, 0, 0, 0.835);
}
.card h5{
    font-size: 15px;
    color: green;
}
.card:hover{
    border-color: chartreuse;
}
.items:hover{
    transform: scale(1.1);
}
.bn{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 90px;
    margin: 100px;

}
.mid{
    background-image: url(asset/grocery-banner.png);
  
    width: 600px;
    height: 250px;

}
.mid-2{
    background-image: url(asset/grocery-banner-2.jpg);
    width:600px ;
    height: 250px;
    background-position: center;

}
.dm{
    position: relative;
    top: 60px;
    left: 20px;
}
.dr{
    position: relative;
    top: 60px;
    left: 20px;
}
.hr{
    position: relative;
    top: 60px;
    left: 20px;
    background-color: rgb(1, 1, 72);
    color: white;
    padding: 10px;
    border-radius: 10%;

}
.hr:hover{
    background-color: black;
}
.popular{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap:wrap;
 gap: 20px;
 margin: 80px;
}
.card-2{
    width: 300px;
    height: 400px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
   
}
.item-2{
    width: 200px;
    height: 200px;
}
.pp{
    margin: 60px;
}
.price{
    display: flex;
    gap: 4px;
   background-color: green;
     font-size: 15px;
     color: aliceblue;
     padding: 5px;
     font-weight: 900;
     border-radius: 10%;
     
}


.cake{
    color: gray;
}
.buy {
    color: green;
}
.star{
    display: flex;
    color: gold;
    gap: 2px;
}
.cart{
    background-color: rgb(18, 168, 18);
    color: white;
    padding: 10px;
    border-radius: 5%;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
}
.foot{
    background-color: rgba(0, 0, 0, 0.156);
    width: 100%;
    height: 500px;
    color: rgb(0, 0, 0);
   
   
   
}
.menu-ft{
    list-style: none;
}
.ft{
    display: flex;
    gap: 90px;
     margin: 100px;
}
.payment{
    display: flex;
    gap: 50px;
    padding: 10px;
    margin: 70px;
}
@media(max-width:600px){
    .navbar{
        width: auto;
        height: auto;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -80px;
        gap: 20px;
        top: 15px;

    }
    .search{
        width: 120px;
        margin-left: 50px;
    }
    .banner{
        width:auto;
        height: 300px;
        padding: 20px;
    }
    .hero{
        font-size: 15px;
    }
    .shop{
        width: 120px;
    }
}